BasedOnStyle: Google
ColumnLimit: 80
ContinuationIndentWidth: 2
IndentWidth: 2
InsertNewlineAtEOF: true
Language: Cpp
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
Standard: c++20
TabWidth: 2
UseTab: Never