[Desktop Entry]
Version=1.0
Type=Application
Name=Slither
GenericName=Gesture Control
Comment=Configure and control touchpad gestures
Exec=slither --gui
Icon=slither
Terminal=false
Categories=Settings;Utility;
Keywords=gestures;touchpad;input;
StartupNotify=true