[Unit]
Description=Slither Gesture Control
Documentation=https://github.com/giosali/slither
After=graphical.target

[Service]
Type=simple
ExecStart=%h/.local/bin/slither
Restart=on-failure
RestartSec=5

# Capabilities for accessing input devices
CapabilityBoundingSet=CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_DAC_OVERRIDE

[Install]
WantedBy=default.target